ul >li{
    background-color: #eee;
    margin: 10px;
    list-style-position: inside;
    padding: 10px;
}

ol li {
    margin: 5px;
    background-color: #fff;
    list-style-position: outside;

}

ul ul li{
    margin: 5px;
    background-color: #fff;
}
ul ul 
{
    padding: 0;
}