.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10% 1fr;
    justify-content: center;
    gap: 10px 10px;
  }


.grid div
{
    counter-increment: element;
    background-color:#607d8b ;
    color:  white;
    text-align: center;
}

.grid div::after
{
    content: 'Element ' counter(element);
 
        display:inline-block;
        height:100%; 
        vertical-align:middle;
    
}