.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    justify-content: center;
    gap: 10px 10px;
    grid-template-columns: 4% 1fr 1fr 4%;
    grid-template-rows: 1fr 8%;
  }

  .grid div
  {
    background-color: #403f3f;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .grid div:after {
    display:inline-block;
    height:100%; width:0;
    content:''; 
    vertical-align:middle;
}