.parent
{
    width: 600px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    background-color: #eeeeee;
    padding: 10px;
    gap : 0px 2%;
  
}

.parent div{
    background-color: #607d8b;
    text-align: center;
    width: calc(96%/3);
    color: white;
}

.one, .three{
    height: 30px;
    line-height: 30px;
}
.two , .four,.five,.six
{
    line-height: 150px;

}

.six
{
    order: 1;
}
.three
{
    order:2
}
.four{
 
    order:3
}

.five{
    order: 4;
}
.two

{
    order: 5;
}
.one
{
    order: 6;
    align-self: flex-end;
}